<html>
  <head></head>
  <body>
    <style type="text/css">
      body {
        background-color: {{ html_color }}
      }
    </style>
    <h1>Welcome on {{ ansible_fqdn }}</h1>
    <p>Managed by {{ ping_result }}</p>
    <p>{{ ssl_key }}</p>
  </body>
</html>
